<h1>New class</h1>

<%= form_with scope: :dance_class, local: true do |form| %>
  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>
  <p>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </p>
  <p>
    <%= form.label :day %><br>
    <%= form.text_field :day %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
